.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px ;
}

.nav-items > ul{
    font-size: 18px;
    display: flex;
    list-style-type: none;
    padding-top: 6%;
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;

}

.RestaurantCard{
    padding: 5px;
    width: 200px;
    height: 400px;
    margin: 5px;;
    background-color: #f0f0f0;
}

.search{
    padding: 10px;
}

.RestaurantCard:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-img{
    width: 100%;
}

.RestroContainer{
    display: flex;
    flex-wrap: wrap;
}
.RestaurantName{
    margin: 1px;
    font-size: 30px;
}
.Cusine{
    margin: 1px;
}

.Ratings{
    margin: 1px;
}
.ETA{
    margin: 1px;
}

